<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="githubsearch" routerLink="/userprofile"><b>GITHUB SEARCH</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id= "nav-links">
            <a class="nav-item nav-link active" routerLink="userprofile" routerLinkActive='active'>MY PROFILE<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" routerLink="/search" routerLinkActive='active'>SEARCH GITHUB</a>
        </div>
    </div>
</nav>