.container {
    background-color: grey;
    color: black;
    padding-top: 10px;
}
#userDetails {
 padding-left: 200px;
 color: white;
 font-weight:300px;
}

form {
    padding-bottom: 10px;
    padding-left: 250px;
}
#usercards {
    background-color: lightgrey;
    margin-top: 10px;

}